* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  touch-action: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  background-color: grey;
}

#title {
  margin-top: 20px;
}

input {
  width: 60px;
  text-align: center;
}

button {
  border: 2px solid black;
  border-radius: 0;
  margin: 1px;
  padding: 1px 5px;
}

#grid-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

#grid-container {
  display: grid;
}

.cell {
  border: 1px solid rgba(0, 0, 0, 0.5);
  min-width: 10px;
  min-height: 10px;
  float: left;
  transition: background-color .5s;
}