* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#grid-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

#grid-container {
  display: grid;
}

.cell {
  border: 1px solid black;
  min-width: 20px;
  min-height: 20px;
  float: left;
}